@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height:1.6; vertical-align:middle;}

html, body {
	padding: 0;
	margin: 0;
	border: 0;
	background:#f5f5f5; 
	color:gray;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, .5);
}

p {
  color:gray;
  font-size:.9rem;
  font-weight:400;
}

.container {
	margin: 0 auto;
	width: 700px;
	background: none;
}

.single {
	margin: 25px 0;
}

.card {
	position: relative;
    border:0;
    border-radius:3px;
    box-shadow:0 1px 2px #aaa;
    display:block;
    font-size:1rem;
    font-weight:300;
    padding:1.5rem 1.5rem;
    transition:.5s, margin-bottom .15s;
    width:100%;
    height: 250px;
    background: white;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
}

.card.expand {
	height: auto;
}

.card .readmore {
	position: relative;
	width: 100%;
	height: 50px;
	color: #57ad68;
}

.card#image {
	background: url(https://ununsplash.imgix.net/photo-1423347834838-5162bb452ca7?fit=crop&fm=jpg&h=700&q=75&w=1050) no-repeat;
}

.card#app {
	
}

.card:hover {
	box-shadow:0 1px 5px #aaa;
}

.card.min {
	z-index: 500;
	margin-top: -290px;
}

.card .publisher {
	background: none;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.card .publisher .avatar {
	height: 40px;
	width: 40px;
	background: gray;
	border-radius: 20px;
	float: left;
}

.card .publisher .meta {
	margin-left: 50px;	
	font-size: 12px;
}

.card .publisher .meta a {
	text-decoration: none;
	color: #57ad68;
	font-size: 14px;
}